@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}

html {
  	color: #000000;
	font-family: 'Raleway', sans-serif;
	background-color:#E3E3E3;
}

.logo {
	position:fixed;
	top:10px;
	right:10px;
}

.contents {
	left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #BBB;
    border-radius: 7px;
    position: fixed;
}

.contents:hover {
	background-color:#CCC;
	cursor:pointer;
}

.contents_expand {
	position: fixed;
	float:left;
	width:150px;
	background-color:#CCC;
	top:70px;
	left:10px;
	display:none;
	border-radius:4px;
	padding:7px;
	font-size:18px;
}

.contents_expand a {
	width:100%;
	display:block;
	text-decoration:none;
	text-align:left;
	color:black;
}

.contents_expand a:hover {
	background-color:#BBB;
}

.codebox {
	background-color:#000000;
	color:#FFFFFF;
	min-width:50%;
	min-height:50%;
	overflow:hidden;
	resize:none;
}

#contentcontainer {
	width:870px;
	margin:auto;
	text-align:center;
}

.card {
	height:100vh;
	width:100%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	opacity:1.0;
	font-family:'Raleway', sans-serif;
	min-width:100%;
	min-height:100vh;
	
	font-size:48px;
}


.code {
	font-family:"Courier New", Courier, monospace;
	color:#888;
}

.tip {
	font-size:18px;
	color:red;
	
}

.card img {
	width:25%;
	margin:0 auto;
}

div .styledcontentcontainer {

}